<nav class="flex justify-between items-center container mx-auto">
    <div>
        <a class="text-4xl font-semibold" href="/">Travel Blog</a>
    </div>
    <ul class="flex gap-5 text-sm font-semibold uppercase text-slate-500">
        <li>
            <a href="/" class="fw-light">Home</a>
        </li>
        <li>
            <a href="{% url 'blog:post-list' %}">Blog</a>
        </li>
        <li>
            <a href="#">Category</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
    </ul>
    <ul class="flex gap-5">
        <a href="#" class="text-slate-800 px-4 py-1 border-b border-b-slate-800">Login</a>
        <a href="#" class="border border-slate-800 rounded px-4 py-1 hover:bg-slate-700 hover:text-slate-100">Signup</a>
    </ul>
</nav>
