{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<article class="mx-auto max-w-7xl px-6 lg:px-8">
  <div class="mb-5">
    <img class="w-full rounded-t-lg" src="https://images.unsplash.com/photo-1542718610-a1d656d1884c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2FiaW58ZW58MHx8MHx8fDA%3D" alt="">
  </div>
  <section class="w-3/4 mx-auto mb-6">
    <div class="flex justify-between items-center">
      <span class="font-light text-gray-600">Jun 1, 2020</span>
      <a href="#" class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500">
        {{ post.category }}
      </a>
    </div>
    <div class="mt-2">
      <a href="#" class="text-2xl text-gray-700 font-bold hover:underline">{{ post.title }}</a>
      <div class="prose prose-sm sm:prose-base md:prose-lg lg:prose-xl xl:prose-2xl">
        {{ post.body|linebreaks }}
      </div>
    </div>
    <div class="flex justify-between items-center mt-4">
      <div>
        <a href="#" class="flex items-center">
          <img src="{% static "imgs/profile.jpg" %}" alt="avatar" class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block"/>
          <h1 class="text-gray-700 font-bold hover:underline">{{ post.author|title }}</h1>
        </a>
      </div>
      <div>
        <a class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500" href="{% url "blog:post_share" post.id %}">Share Post</a>
      </div>
    </div>
  </section>
  <section>
    <!-- component -->
<div class="antialiased mx-auto max-w-screen-sm">
  <h3 class="mb-4 text-lg font-semibold text-gray-900">Comments</h3>

  <div class="space-y-4">
    {% for comment in comments %}
    <div class="flex">
      <div class="flex-shrink-0 mr-3">
        <img class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10" src="https://images.unsplash.com/photo-1604426633861-11b2faead63c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=80" alt="">
      </div>
      <div class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
        <strong>{{ comment.name|title }}</strong> <span class="text-xs text-gray-400">{{ comment.created_at|timesince }} Ago</span>
        <p class="text-sm">
          {{ comment.body|linebreaks }}
        </p>
        <div class="mt-4 flex items-center">
          <div class="flex -space-x-2 mr-2">
            <img class="rounded-full w-6 h-6 border border-white" src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=100&h=100&q=80" alt="">
            <img class="rounded-full w-6 h-6 border border-white" src="https://images.unsplash.com/photo-1513956589380-bad6acb9b9d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=100&h=100&q=80" alt="">
          </div>
          <div class="text-sm text-gray-500 font-semibold">
            5 Replies
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
  </section>
<div class="antialiased mx-auto max-w-screen-sm mt-4">
  <div class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
    <form action="{% url 'blog:post_comment' post.id %}" method="post" class="mt-4">
      <h3 class="mb-4 text-lg font-semibold text-gray-900">Leave a Comment</h3>
      {% csrf_token %}
        <div class="flex flex-col justify-content-center mb-4 space-y-2">
          <div class="flex gap-4">
            <div class="flex-auto">
              <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
              {{ form.name|add_class:"w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" }}
              {{ form.errors }}
            </div>
            <div class="flex-auto">
              <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
              {{ form.email|add_class:"w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" }}
              {{ form.errors }}
            </div>
          </div>
          <div>
            {{ form.body.label }}
            {{ form.body|add_class:"w-full h-32 px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" }}
            {{ form.errors }}
          </div>
        </div>
      <div class="flex justify-end">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">Post Comment</button>
        </div>
    </form>
  </div>
</div>
</article>
{% endblock %}
