{% extends 'base.html' %}

{% load static %} {% block title %} Home {% endblock title %}

{% block content %}
<div>
  <div
    class="grid md:grid-cols-2 gap-5 md:gap-10 md:min-h-[calc(100vh-30vh)]"
    style="background-color: #ac906d">
    <div class="relative aspect-video md:aspect-auto">
      <a
        href="/post/lifestyle/14-architectural-design-ideas-for-spacious-interior"
        ><img
          alt="Thumbnail"
          fetchpriority="high"
          decoding="async"
          data-nimg="fill"
          class="object-cover"
          style="
            position: absolute;
            height: 100%;
            width: 100%;
            inset: 0;
            color: transparent;
          "
          sizes="100vw" src="{% static 'imgs/hero-img.jpg' %} " />
      </a>
    </div>
    <div class="self-center px-5 pb-10">
      <a
        href="/post/lifestyle/14-architectural-design-ideas-for-spacious-interior"
        ><div class="max-w-2xl">
          <h1
            class="mt-2 mb-3 text-3xl font-semibold tracking-tight text-white lg:leading-tight text-brand-primary lg:text-5xl">
            14 Architectural Design Ideas for a Spacious Interior
          </h1>
          <div class="flex mt-4 space-x-3 text-gray-500 md:mt-8">
            <div class="flex flex-col gap-3 md:items-center md:flex-row">
              <div class="flex items-center gap-3">
                <div class="relative flex-shrink-0 w-5 h-5">
                  <img
                    alt="Mario Sanchez"
                    loading="lazy"
                    decoding="async"
                    data-nimg="fill"
                    class="object-cover rounded-full"
                    style="
                      position: absolute;
                      height: 100%;
                      width: 100%;
                      left: 0;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      color: transparent;
                    "
                    sizes="100vw"

                    src="/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fcijrdavx%2Fproduction%2F4a21e3f085ed310d00fbbd294eb2392cde7f9acc-3648x3648.jpg%3Fw%3D2000%26auto%3Dformat&amp;w=3840&amp;q=75" />
                </div>
                <p class="text-gray-100">
                  Mario Sanchez<!-- -->
                  <span class="hidden pl-2 md:inline"> ·</span>
                </p>
              </div>
              <div>
                <div class="flex space-x-2 text-sm md:flex-row md:items-center">
                  <time class="text-white" datetime="2022-10-21T06:05:00.000Z"
                    >October 21, 2022</time
                  ><span class="text-white"
                    >·
                    <!-- -->5<!-- -->
                    min read</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div></a
      >
    </div>
  </div>
  <div class="container px-8 mx-auto xl:px-5 max-w-screen-xl py-5 lg:py-8">
    <div class="flex items-center justify-center mt-10">
      <h2 class="text-2xl"><strong>Featured</strong> Posts</h2>
    </div>
    <div
      class="grid gap-10 mt-10 mb-20 lg:gap-10 md:grid-cols-3 lg:grid-cols-4">
      <div class="md:col-span-2 md:row-span-2">
        <div class="group cursor-pointer">
          <div
            class="overflow-hidden rounded-md bg-gray-100 transition-all hover:scale-105 dark:bg-gray-800">
            <a
              class="relative block aspect-[5/4]"
              href="/post/lifestyle/every-next-level-of-your-life-will-demand-a-different-you"
              ><img
                alt="Thumbnail"
                fetchpriority="high"
                decoding="async"
                data-nimg="fill"
                class="object-cover transition-all"
                style="
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  inset: 0px;
                  color: transparent;
                "
                sizes="(max-width: 768px) 30vw, 33vw"
                "
                src="https://images.unsplash.com/photo-1504643039591-52948e3ddb47?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNhYmlufGVufDB8fDB8fHww" />
            </a>
          </div>
          <div class="">
            <div>
              <div class="flex gap-3">
                <a href="/category/lifestyle"
                  ><span
                    class="inline-block text-xs font-medium tracking-wider uppercase mt-5 text-purple-600"
                    >Lifestyle</span
                  ></a
                ><a href="/category/personal-growth"
                  ><span
                    class="inline-block text-xs font-medium tracking-wider uppercase mt-5 text-emerald-700"
                    >Personal Growth</span
                  ></a
                >
              </div>
              <h2
                class="text-2xl line-clamp-2 font-medium tracking-normal text-black mt-2 dark:text-white">
                <a
                  href="/post/lifestyle/every-next-level-of-your-life-will-demand-a-different-you"
                  ><span
                    class="bg-gradient-to-r from-green-200 to-green-100 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px] dark:from-purple-800 dark:to-purple-900"
                    >Every Next Level of Your Life Will Demand a Different
                    You</span
                  ></a
                >
              </h2>
              <div class="hidden">
                <p
                  class="mt-2 line-clamp-3 text-sm text-gray-500 dark:text-gray-400">
                  <a
                    href="/post/lifestyle/every-next-level-of-your-life-will-demand-a-different-you"
                    >That was so fun! I’ve got a new addiction! my athlete
                    friend exclaimed, tired but happy in the car on the way
                    home. “Let’s do it again tomorrow.”</a
                  >
                </p>
              </div>
              <div
                class="mt-3 flex items-center space-x-3 text-gray-500 dark:text-gray-400">
                <a href="/author/mario-sanchez"
                  ><div class="flex items-center gap-3">
                    <div class="relative h-5 w-5 flex-shrink-0">
                      <img
                        alt="Mario Sanchez"
                        loading="lazy"
                        decoding="async"
                        data-nimg="fill"
                        class="rounded-full object-cover"
                        style="
                          position: absolute;
                          height: 100%;
                          width: 100%;
                          left: 0;
                          top: 0;
                          right: 0;
                          bottom: 0;
                          color: transparent;
                        "
                        sizes="20px"

                        src="https://images.unsplash.com/photo-1504643039591-52948e3ddb47?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNhYmlufGVufDB8fDB8fHww" />
                    </div>
                    <span class="truncate text-sm">Mario Sanchez</span>
                  </div></a
                ><span class="text-xs text-gray-300 dark:text-gray-600">•</span
                ><time
                  class="truncate text-sm"
                  datetime="2022-10-20T12:28:00.000Z"
                  >October 20, 2022</time
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="group cursor-pointer">
        <div
          class="overflow-hidden rounded-md bg-gray-100 transition-all hover:scale-105 dark:bg-gray-800">
          <a
            class="relative block aspect-video"
            href="/post/lifestyle/this-bread-pudding-will-give-you-all-the-fall-feels"
            ><img
              alt="Thumbnail"
              fetchpriority="high"
              decoding="async"
              data-nimg="fill"
              class="object-cover transition-all"
              style="
                position: absolute;
                height: 100%;
                width: 100%;
                inset: 0px;
                color: transparent;
              "
              sizes="(max-width: 768px) 30vw, 33vw"

              src="https://images.unsplash.com/photo-1504643039591-52948e3ddb47?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNhYmlufGVufDB8fDB8fHww"
          /></a>
        </div>
        <div class="">
          <div>
            <div class="flex gap-3">
              <a href="/category/travel"
                ><span
                  class="inline-block text-xs font-medium tracking-wider uppercase mt-5 text-orange-700"
                  >Travel</span
                ></a
              >
            </div>
            <h2
              class="text-lg line-clamp-2 font-medium tracking-normal text-black mt-2 dark:text-white">
              <a
                href="/post/lifestyle/this-bread-pudding-will-give-you-all-the-fall-feels"
                ><span
                  class="bg-gradient-to-r from-green-200 to-green-100 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px] dark:from-purple-800 dark:to-purple-900"
                  >This Bread Pudding Will Give You All the Fall Feels</span
                ></a
              >
            </h2>
            <div class="hidden">
              <p
                class="mt-2 line-clamp-3 text-sm text-gray-500 dark:text-gray-400">
                <a
                  href="/post/lifestyle/this-bread-pudding-will-give-you-all-the-fall-feels"
                  >I learned this when I traveled to a remote resort to deliver
                  what was supposed to be a talk for a group of tech investors.
                  It turned out to be something of a “consult” to five
                  ultra-wealthy men.</a
                >
              </p>
            </div>
            <div
              class="mt-3 flex items-center space-x-3 text-gray-500 dark:text-gray-400">
              <a href="/author/erika-oliver"
                ><div class="flex items-center gap-3">
                  <div class="relative h-5 w-5 flex-shrink-0">
                    <img
                      alt="Erika Oliver"
                      loading="lazy"
                      decoding="async"
                      data-nimg="fill"
                      class="rounded-full object-cover"
                      style="
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        color: transparent;
                      "
                      sizes="20px"

                      src="https://images.unsplash.com/photo-1504643039591-52948e3ddb47?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNhYmlufGVufDB8fDB8fHww" />
                  </div>
                  <span class="truncate text-sm">Joshua Wood</span>
                </div></a
              ><span class="text-xs text-gray-300 dark:text-gray-600">•</span
              ><time
                class="truncate text-sm"
                datetime="2022-10-18T13:47:00.000Z"
                >October 18, 2022</time
              >
            </div>
          </div>
        </div>
      </div>
      <div class="group cursor-pointer">
        <div
          class="overflow-hidden rounded-md bg-gray-100 transition-all hover:scale-105 dark:bg-gray-800">
          <a
            class="relative block aspect-video"
            href="/post/lifestyle/how-technology-evolved-under-the-bright-sun-of-universe"
            ><img
              alt="Thumbnail"
              fetchpriority="high"
              decoding="async"
              data-nimg="fill"
              class="object-cover transition-all"
              style="
                position: absolute;
                height: 100%;
                width: 100%;
                inset: 0px;
                color: transparent;
              "
              sizes="(max-width: 768px) 30vw, 33vw"
              src="https://images.unsplash.com/photo-1504643039591-52948e3ddb47?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNhYmlufGVufDB8fDB8fHww"
          /></a>
        </div>
        <div class="">
          <div>
            <div class="flex gap-3">
              <a href="/category/technology"
                ><span
                  class="inline-block text-xs font-medium tracking-wider uppercase mt-5 text-blue-600"
                  >Technology</span
                ></a
              >
            </div>
            <h2
              class="text-lg line-clamp-2 font-medium tracking-normal text-black mt-2 dark:text-white">
              <a
                href="/post/lifestyle/how-technology-evolved-under-the-bright-sun-of-universe"
                ><span
                  class="bg-gradient-to-r from-green-200 to-green-100 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px] dark:from-purple-800 dark:to-purple-900"
                  >How Technology Evolved Under the Bright Sun of Universe</span
                ></a
              >
            </h2>
            <div class="hidden">
              <p
                class="mt-2 line-clamp-3 text-sm text-gray-500 dark:text-gray-400">
                <a
                  href="/post/lifestyle/how-technology-evolved-under-the-bright-sun-of-universe"
                  >The evolution of technology in astronomy and how it has
                  impacted our understanding of the universe. It also gives a
                  brief history of the major figures that the science through
                  their innovations
                </a>
              </p>
            </div>
            <div
              class="mt-3 flex items-center space-x-3 text-gray-500 dark:text-gray-400">
              <a href="/author/erika-oliver"
                ><div class="flex items-center gap-3">
                  <div class="relative h-5 w-5 flex-shrink-0">
                    <img
                      alt="Erika Oliver"
                      loading="lazy"
                      decoding="async"
                      data-nimg="fill"
                      class="rounded-full object-cover"
                      style="
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        color: transparent;
                      "
                      sizes="20px"
                      src="https://images.unsplash.com/photo-1504643039591-52948e3ddb47?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNhYmlufGVufDB8fDB8fHww"/>
                  </div>
                  <span class="truncate text-sm">Erika Oliver</span>
                </div></a
              ><span class="text-xs text-gray-300 dark:text-gray-600">•</span
              ><time
                class="truncate text-sm"
                datetime="2022-09-30T15:15:00.000Z"
                >September 30, 2022</time
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center mt-4">
      <h3 class="text-2xl"><strong>Our</strong> Latest</h3>
    </div>
    <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-4">
      {% for post in posts %}
        <div class="group cursor-pointer">
          <div
          class="overflow-hidden rounded-md bg-gray-100 transition-all hover:scale-105 dark:bg-gray-800">
          <a class="relative block aspect-square" href="{{ post.get_absolute_url }}">
            <img
              alt="Thumbnail"
              loading="lazy"
              decoding="async"
              data-nimg="fill"
              class="object-cover transition-all"
              style="
                position: absolute;
                height: 100%;
                width: 100%;
                inset: 0px;
                color: transparent;
              "
              sizes="(max-width: 768px) 30vw, 33vw"
              src="https://images.unsplash.com/photo-1504643039591-52948e3ddb47?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNhYmlufGVufDB8fDB8fHww"/>
          </a>
        </div>
          <div class="">
          <div>
            <div class="flex gap-3">
              <a href="/category/technology">
                <span class="inline-block text-xs font-medium tracking-wider uppercase mt-5 text-blue-600">
                  {{ post.category }}
                </span>
              </a>
            </div>
            <h2
              class="text-lg line-clamp-2 font-medium tracking-normal text-black mt-2 dark:text-white">
              <a href="#">
                <span class="bg-gradient-to-r from-green-200 to-green-100 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px] dark:from-purple-800 dark:to-purple-900">
                  {{ post.title }}
                </span>
              </a>
            </h2>
            <div class="hidden">
              <p
                class="mt-2 line-clamp-3 text-sm text-gray-500 dark:text-gray-400">
                <a
                  href="/post/lifestyle/architectural-engineering-wonders-of-the-modern-era-for-your-inspiration"
                  >Reinvention often comes in spurts, after a long period of
                  silence. Just as modern architecture recently enjoyed a
                  comeback, brand architecture, a field with well-established
                  principles for decades</a
                >
              </p>
            </div>
            <div
              class="mt-3 flex items-center space-x-3 text-gray-500 dark:text-gray-400">
              <a href="/author/mario-sanchez"
                ><div class="flex items-center gap-3">
                  <div class="relative h-5 w-5 flex-shrink-0">
                    <img
                      alt="Mario Sanchez"
                      loading="lazy"
                      decoding="async"
                      data-nimg="fill"
                      class="rounded-full object-cover"
                      style="
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        color: transparent;
                      "
                      sizes="20px"
                      src="https://images.unsplash.com/photo-1504643039591-52948e3ddb47?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNhYmlufGVufDB8fDB8fHww"/>
                  </div>
                  <span class="truncate text-sm">Mario Sanchez</span>
                </div></a
              ><span class="text-xs text-gray-300 dark:text-gray-600">•</span
              ><time
                class="truncate text-sm"
                datetime="2022-10-21T15:48:00.000Z"
                >October 21, 2022</time
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
