{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <div class="flex justify-between container gap-10 mx-auto">
        <div class="w-full lg:w-9/12 md:w-10/12">
            <div class="flex items-center justify-between my-5">
                <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Blog Post</h1>
                <div>
                    <select class="w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                        <option>Latest</option>
                        <option>Last Week</option>
                    </select>
                </div>
            </div>
            <section>
                {% for post in posts %}
                    <div class="mt-6">
                        <div class="px-10 py-6 bg-white rounded-lg shadow-md">
                            <div class="flex justify-between items-center">
                                <span class="font-light text-gray-600">Jun 1,
                                2020</span>
                                <a href="#"
                                   class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500">{{ post.category }}</a>
                            </div>
                            <div class="mt-2">
                                <a href="{{ post.get_absolute_url }}"
                                   class="text-2xl text-gray-700 font-bold hover:underline">{{ post.title }}</a>
                                <p class="mt-2 text-gray-600">{{ post.body|truncatewords:30|linebreaks }}</p>
                            </div>
                            <div class="flex justify-between items-center mt-4">
                                <a href="{{ post.get_absolute_url }}"
                                   class="text-blue-500 hover:underline">Read more</a>
                                <div>
                                    <a href="#" class="flex items-center">
                                        <img src="{% static "imgs/profile.jpg" %}"
                                             alt="avatar"
                                             class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block">
                                        <h1 class="text-gray-700 font-bold hover:underline">{{ post.author.username|title }}</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>
        <div class="w-full lg:w-3/12 md:w-2/12 bg-white rounded-md shadow px-5 py-3 h-fit">
            <h2 class="text-2xl font-semibold text-slate-700 mb-2">Categories</h2>
            <ul class="px-2">
                {% for category in categories %}
                    <li class="text-sm uppercase font-bold text-slate-600 my-1">
                        <a href="#">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
